spring:
  data:
    mongodb:
      uri: mongodb://${MONGO_USERNAME:admin}:${MONGO_PASSWORD:12345678}@${MONGO_HOST:localhost}:${MONGO_PORT:27017}/${MONGO_DATABASE:miniautorizador}?authSource=${MONGO_AUTH_DB:admin}
      host: ${MONGO_HOST:localhost}
      port: ${MONGO_PORT:27017}
      username: ${MONGO_USERNAME:admin}
      password: ${MONGO_PASSWORD:12345678}
      database: ${MONGO_DATABASE:miniautorizador}
      authentication-database: ${MONGO_AUTH_DB:admin}

  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DATABASE:miniautorizador}
    username: ${MYSQL_USERNAME:root}
    password: ${MYSQL_PASSWORD:12345678}
    driver-class-name: ${MYSQL_DRIVER_CLASS_NAME:com.mysql.cj.jdbc.Driver}

  jpa:
    hibernate:
      ddl-auto: ${JPA_HIBERNATE_DDL_AUTO:update}
    show-sql: ${JPA_SHOW_SQL:true}
    properties:
      hibernate:
        dialect: ${HIBERNATE_DIALECT:org.hibernate.dialect.MySQLDialect}

  security:
    user:
      name: ${SPRING_SECURITY_USER_NAME:username}
      password: ${SPRING_SECURITY_USER_PASSWORD:password}

server:
  port: ${SERVER_PORT:8080}
